/* Variables */
$font-header: 'Roboto', sans-serif;
$font-text: 'Raleway', sans-serif;
$font-style: 'Zen Loop', cursive;
$color-one: #bdc3c7;
$color-two: #f1c40f;
$transition: all 1s;

/* Global */

body {
    margin: 0;
    text-align: center;
    background: #fff;
    font-size: 16px;
    line-height: 1.7;
    font-family: $font-text;
}

.section {
    padding: 96px 0;
}

.btn {
    display: inline-block;
    min-width: 160px;
    margin: 24px auto 0 auto;
    padding: 16px;
    border-radius: 5px;
    font-family: $font-text;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    background-color: inherit;
    background-position: 100% 0;
    background-size: 300%;
    Transition: $transition;
}

.btn:hover {
    background-position: 0 100%;
    color: #ffffff;
}